body{
    background-image: url("Images/transparent.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background opacity: 0.5%;

}
h2{
    font-size: 36px;
    text-align: left;
    text-color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h3.name{
    background-color:white;
    color:(136°, 46%, 45%);
}

@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    h2 {
        font-size: 1.75rem; /* Equivalent to 28px */
        text-align: center;
    }

    h3.name {
        font-size: 1.25rem; /* Equivalent to 20px */
    }
}